.homescreen {
    max-width: 1300px;
    margin: 1rem 2rem;
}

.homescreen_title {
    font-size: 1.5rem;
    color: #171717;
    margin-bottom: 1rem;
    margin-left: 8px;
}

.homescreen_products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1252px) {
    .homescreen_products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 990px) {
    .homescreen_products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .homescreen_products {
        grid-template-columns: repeat(1, 1fr);
    }
}